env: "development"
port: "8080"
database:
  host: "localhost:3306"
  database: "dating_app"
  username: "root"
  password: ""
  maxIdleConns: 5
  maxOpenConns: 20
  connMaxLifeTime: "1h"
  connMaxIdleTime: "10m"
redis:
  host: "localhost:6379"
  username: ""
  password: ""
jwt:
  key: "abcdefghuajskeor"